# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node
node_modules/
npm-debug.log
yarn-error.log

# Ruby
vendor/

# Bundle artifact
*.jsbundle

# Expo
.expo/
dist/
web-build/
ios/Pods/
android/.gradle

# Temporary files created by Metro bundler
.metro-health-check*

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
